<%= content_for :meta_title, t('offers.index') %>

<div class="main">
  <div class="section_offers">
    <h2><%= t('offers.availables') %></h2>
    <% if @offers.count > 0 %>
      <% @offers.each do |offer| %>
        <%= render partial: "offer", locals: { offer: offer, title: false } %>
      <% end %>
    <% else %>
      <p>No hay ofertas disponibles</p>
    <% end %>
  </div>
  <%= paginate @offers %>
</div>
<div id="subereceta" class="row col-md-12 col-sm-12 col-xs-12">
  <div class="col-md-10 col-sm-10 col-xs-10">
    <span class="btn btn-rojo"><%= link_to 'Comparte ofertas', new_offer_path %></span>
    <% unless user_signed_in? %>
      <span class="enrojo">  (Para compartir alimentos es necesario iniciar sesión)</span>
    <% end %>
  </div>
  <% unless user_signed_in? %>
  <div class="login col-md-2 col-sm-2 col-xs-2">
    <%= link_to t('nlt.login'), new_user_session_path, "data-no-turbolink" => true %>
  </div>
  <% end %>
</div><!-- /subereceta -->
